body {
  background-color: #e0d8f2;
  color: #fff;
  font-family: "Minecraft", sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
  text-shadow: 0 0 10px #22104d, 0 0 20px #e0d8f2, 0 0 30px #e0d8f2,
    0 0 40px #ab51ba, 0 0 70px #ab51ba, 0 0 80px #ab51ba, 0 0 100px #ab51ba,
    0 0 150px #ab51ba;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

input[type="text"] {
  background-color: #e0d8f2;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-family: "Minecraft", sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  text-align: center;
  text-shadow: 0 0 10px #ab51ba, 0 0 20px #ab51ba, 0 0 30px #ab51ba;
  width: 100%;
}

button[type="submit"],
button[name="deleteButton"] {
  background-color: #8f2abb;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Minecraft", sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover,
button[name="deleteButton"]:hover {
  background-color: #fff;
  color: #8f2abb;
  text-shadow: none;
}

button[type="submit"],
button[name="deleteButton"] {
  /* existing styles /
  max-width: 200px; / adjust this value to suit your needs */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1rem;
  padding: 1rem;
  background-color: #ab51ba;
  border-radius: 1rem;
  box-shadow: 0 0 10px #ab51ba;
  font-family: "Minecraft", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff;
  transition: all 0.3s ease-in-out;
}

li:hover {
  background-color: #fff;
  color: #8f2abb;
  box-shadow: 0 0 10px #fff;
  text-shadow: 0 0 10px #ab51ba;
}

li {
  margin: 1rem;
  padding: 0.5rem 1rem; /* added padding between text and buttons /
  background-color: #ab51ba;
  border-radius: 1rem;
  box-shadow: 0 0 10px #ab51ba;
  font-family: 'Minecraft', sans-serif;
  font-size: 1rem; / reduced font size */
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff;
  transition: all 0.3s ease-in-out;
}
